Pool {
	Name = {{ inventory_hostname}}_full
	Pool Type = Backup
	Recycle = yes
	AutoPrune = yes
	Volume Retention = 25 days
	Maximum Volume Bytes = 50G
	Label Format = "{{ inventory_hostname }}-full-"
	MaximumVolumes = 5
}
