[Unit]
Description=Opsview Agent
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/opsview-agent start
ExecStop=/etc/init.d/opsview-agent stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
